# file has todos
# open this file with `git config --global --edit`
[alias]
    amano = commit --amend -a --no-edit # AMend All NO edit
    bme = branch -l 'users/mwiemer/[a-zA-Z0-9]*' # Branches by ME
    bdemo = branch -l 'users/mwiemer/_demo/*' # Branches that are DEMOs
    co = checkout
    come = "!sh -c \"git checkout users/mwiemer/$1\" -" # CheckOut a branch by ME
    cam = commit -a --amend # Commit All via aMend
    deletemerged = "!sh -c \"git branch --merged origin/main | grep -v main | xargs git branch -d\""
    edit = config --global --edit
    logm = log main.. # LOG changes since Main
    logone = log --pretty=format:%C(green)%h%C(blue) %an%C(yellow) %s%C(magenta)%d
    new = "!sh -c \"git checkout -b users/mwiemer/$1\" -" # NEW branch for me
    scome = "!sh -c \"git add . && git stash && git checkout users/mwiemer/$1\" -" # Stash and CheckOut a branch by ME
[core]
    editor = \"C:\\Users\\mwiemer\\AppData\\Local\\Programs\\Microsoft VS Code\\bin\\code\" --wait
[format]
    # pretty = format:%C(green)%h%C(blue) %an%C(yellow) %s%C(magenta)%d%C(white)%+b # all details
    pretty = format:%C(green)%h%C(blue) %an%C(yellow) %s%C(magenta)%d # oneline
[user]
    name = Mark Wiemer
    email = markwiemer@outlook.com # todo double check work vs professional
[fetch]
    prune = true
[pull]
    prune = true
